body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f5f5f;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    color: rgb(201, 201, 201);
}

button {
    font-size: 20px;
    border-radius: 10px;
    margin: 0.75em;
}

button:focus {
    outline: none;
}

.container {
    min-width: 200px;
    max-width: 400px;
    background-color: #242227;
    box-shadow: 3px 3px #888888;
    display: inline-grid;
    border: 8px solid black;
    border-radius: 10px;
    grid-template-rows: repeat(2, auto);
}

.calcDisplayContainer {
    background-color: white;
    border-radius: 10px;
    max-width: 100%;
    margin: 0.75em 0.5em;
    padding: 20px;
    grid-row: 1 / 2;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}
.calcDisplay {
    float: right;
    font-size: 30px;
}

.calcButtons {
    grid-row: 2 / 3;
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    
}

.calcButtons button:active {
    background-color: grey;
}


.active {
    transition: all 0.1s ease;
    transform: scale(1.1);
    background-color: grey;
}

.calcClear {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 100px));
    grid-template-rows: minmax(40px, 100px);
    
}

.calcClear button {
    background-color: #7ca7a3;
}

.calcOpers {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: minmax(40px, 100px);
    grid-template-rows: repeat(5, minmax(40px, 100px));
}

.calcOpers button {
    background-color: #d28942;
}

.calcOpers .equal {
    background-color: #c94436;
}

.calcNums {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 100px));
    grid-template-rows: repeat(4, minmax(40px, 100px));
}



